<nav class="">
    <div class="max-w-7xl mx-auto">
        <div class="flex justify-between h-10 items-center">
            <!-- Left Side - Search Bar -->
            <div class="flex-shrink-0 flex items-center">
                <div class="relative">
                    <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
                        <svg class="h-5 w-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 4a7 7 0 017 7 7 7 0 11-7-7zm0 0a7 7 0 100 14 7 7 0 100-14zM21 21l-5.2-5.2"></path>
                        </svg>
                    </span>
                    <input class="block w-full bg-gray-200 focus:ring-blue-500 focus:border-blue-500 border-gray-200 rounded-md py-2 pl-10 pr-4 text-gray-600 placeholder-gray-500 sm:text-sm" type="text" placeholder="Search tasks">
                </div>
            </div>
            <!-- Right Side - Icons -->
            <div class="ml-4 flex items-center">
                <!-- Message Icon -->
                <a href="#" class="text-gray-800 p-2 rounded-full hover:bg-blue-800">
                    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 8v4m0 0-3-3m3 3 3-3"></path>
                    </svg>
                </a>
                <!-- Bell Icon -->
                <a href="#" class="text-gray-800 p-2 rounded-full hover:bg-blue-800 ml-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bell" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 5a2 2 0 0 1 2 2v.563c1.036 .175 2.02 .515 2.828 1.01c1.545 .808 2.664 2.176 3.168 3.927c.224 .64 .224 1.313 0 1.953c-.504 1.75 -1.623 3.118 -3.168 3.927c-.808 .496 -1.792 .836 -2.828 1.01v2.563c0 .47 -.305 .882 -.75 1.032l-1.5 .5a2 2 0 0 1 -1.5 -3.532l1.5 -.5c.305 -.102 .516 -.365 .516 -.658v-2.574a7.5 7.5 0 1 0 -3 0v2.574c0 .293 .21 .556 .515 .658l1.485 .495a2 2 0 1 1 -1.485 3.532l-1.5 -.5a1 1 0 0 1 -.515 -1.032v-2.563c-1.036 -.174 -2.02 -.514 -2.828 -1.01c-1.545 -.808 -2.664 -2.176 -3.168 -3.927c-.224 -.64 -.224 -1.313 0 -1.953c.504 -1.75 1.623 -3.118 3.168 -3.927c.808 -.495 1.792 -.835 2.828 -1.01v-.563a2 2 0 0 1 2 -2z" />
                    </svg>                    
                </a>
                <!-- User Account Icon -->
                <a href="#" class="text-gray-800 p-2 rounded-full hover:bg-blue-800 ml-2">
                    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6s0-4 4-4h8s4 0 4 4M12 10v8m-4-4h8"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</nav>
