<!-- Sidebar -->
<div class="w-1/6 bg-gray-100 py-8 pl-4">
    <h1 class="cursor-pointer">
        <a href="{% url 'index' %}" class="flex items-center space-x-2 text-3xl font-semibold text-blue-800 mb-8">
            <svg class="h-12 w-12 text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12h2m4 0h8m-8 0l1-5h6l-1 5m-6 0v5m12-5v5m-10 0l2-8m6 8l2-8"></path>
            </svg>
            <span>Taskify</span>
        </a>
    </h1>
    <ul class="space-y-4">
        <!-- Dashboard Tab -->
        <li>
            <a href="{% url 'dashboard' %}" class="flex items-center space-x-4 py-2 pl-8 pr-2 rounded-l-md text-gray-800 hover:text-white hover:bg-blue-800 {% if request.path == '/tasks/dashboard/' %} bg-blue-800 text-white {% endif %}">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dashboard" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <circle cx="12" cy="13" r="2" />
                    <line x1="13.45" y1="11.55" x2="15.5" y2="9.5" />
                    <path d="M6.4 20a9 9 0 1 1 11.2 0Z" />
                </svg>                
                <span>Dashboard</span>
            </a>
        </li>
        <!-- Tasks Tab -->
        <li>
            <a href="{% url 'tasks' %}" class="flex items-center space-x-4 py-2 pl-8 pr-2 rounded-l-md text-gray-800 hover:text-white hover:bg-blue-800 {% if request.path == '/tasks/tasks/' %} bg-blue-800 text-white {% endif %}">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-task" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 6h16M4 12h16M4 18h16" />
                </svg>                
                <span>Tasks</span>
            </a>
        </li>
        <!-- Calendar Tab -->
        <li>
            <a href="{% url 'calendar' %}" class="flex items-center space-x-4 py-2 pl-8 pr-2 rounded-l-md text-gray-800 hover:text-white hover:bg-blue-800 {% if request.path == '/tasks/calendar/' %} bg-blue-800 text-white {% endif %}">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <rect x="4" y="5" width="16" height="16" rx="2" />
                    <line x1="16" y1="3" x2="16" y2="7" />
                    <line x1="8" y1="3" x2="8" y2="7" />
                    <line x1="4" y1="11" x2="20" y2="11" />
                    <line x1="11" y1="15" x2="12" y2="15" />
                    <line x1="12" y1="15" x2="12" y2="18" />
                </svg>                
                <span>Calendar</span>
            </a>
        </li>
        <!-- Members Tab -->
        <li>
            <a href="{% url 'members' %}" class="flex items-center space-x-4 py-2 pl-8 pr-2 rounded-l-md text-gray-800 hover:text-white hover:bg-blue-800 {% if request.path == '/tasks/members/' %} bg-blue-800 text-white {% endif %}">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M10 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM4 8a6 6 0 1 1 12 0A6 6 0 0 1 4 8zm12.828-4.243a1 1 0 0 1 1.415 0 6 6 0 0 1 0 8.486 1 1 0 1 1-1.415-1.415 4 4 0 0 0 0-5.656 1 1 0 0 1 0-1.415zm.702 13a1 1 0 0 1 1.212-.727c1.328.332 2.169 1.18 2.652 2.148.468.935.606 1.98.606 2.822a1 1 0 1 1-2 0c0-.657-.112-1.363-.394-1.928-.267-.533-.677-.934-1.349-1.102a1 1 0 0 1-.727-1.212zM6.5 18C5.24 18 4 19.213 4 21a1 1 0 1 1-2 0c0-2.632 1.893-5 4.5-5h7c2.607 0 4.5 2.368 4.5 5a1 1 0 1 1-2 0c0-1.787-1.24-3-2.5-3h-7z" fill="#0D0D0D"></path></g></svg>               
                <span>Members</span>
            </a>
        </li>
    </ul>
</div>
